.App {
  text-align: center;
  margin: 0 auto;
  max-width: 960px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.links {
  display: flex;
  justify-content: space-between;
}

.links a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  margin-right: 10px;
}

.Smurfs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  align-content: space-between;
}

.Smurf {
  border: 1px solid #000;
  border-radius: 10px;
  height: 200px;
  width: 275px;
  margin: 20px 30px;
  background-color: #88ccff;
  color: #eaeaea;
}